
    {% if current_user.id==message.author.id %}
<div class="msg-box">

    <div class="picture" style="margin-left:600px;">
        
        <a href ="{{url_for('main.user' ,username=message.author.username )}}">
           {% if message.author.real_avatar %}
                       <img class="pop-card"  data-position="left center" data-offset="-40"
             data-href="{{ url_for('chat.get_profile', user_id=message.author.id) }}"
             src="{{ message.author.real_avatar }}" height="40" width="40">
               {% else %}
        <img class="pop-card"  data-position="left center" data-offset="-40"
             data-href="{{ url_for('chat.get_profile', user_id=message.author.id) }}"
             src="{{ message.author.gravatar() }}">
               {% endif %}
        </a>
    </div>
    <div class="msg" >
        <span class="nickname">{{ message.author.username }}</span>
        <small class="timestamp">{{ moment(message.timestamp).format('lll') }}</small>
        <span class="message-body">{{ message.body|safe }}</span>
    </div>
        <div class="ui icon left center pointing dropdown ellipsis-icon" style="float:right;">
            <i class="ellipsis horizontal icon"></i>
            <div class="menu" data-offset="-33">
                    <div class="item delete-button"
                         data-href="{{ url_for('chat.delete_message', message_id=message.id) }}"
                         onclick="confirm('确定删除吗？')">
                        <i class="delete icon"></i> 删除
                    </div>
            </div>
        </div>
        </div>

{% else %}
<div class="msg-box">

    <div class="picture1" style="margin-right:600px;">
        <a href ="{{url_for('main.user' ,username=message.author.username )}}">
   {% if message.author.real_avatar %}
                       <img class="pop-card"  data-position="left center" data-offset="-40"
             data-href="{{ url_for('chat.get_profile', user_id=message.author.id) }}"
             src="{{ message.author.real_avatar }}" height="40" width="40">
               {% else %}
        <img class="pop-card"  data-position="left center" data-offset="-40"
             data-href="{{ url_for('chat.get_profile', user_id=message.author.id) }}"
             src="{{ message.author.gravatar() }}">
               {% endif %}
        </a>
    </div>
    <div class="msg1">
        <span class="nickname">{{ message.author.username }}</span>
        <small class="timestamp">{{ moment(message.timestamp).format('lll') }}</small>
        <span class="message-body">{{ message.body|safe }}</span>
    </div>
    {% if current_user.is_administrator()  %}
        <div class="ui icon left center pointing dropdown ellipsis-icon"style="float:left;">
            <i class="ellipsis horizontal icon"></i>
            <div class="menu" data-offset="-33">
                    <div class="item delete-button"
                         data-href="{{ url_for('chat.delete_message', message_id=message.id) }}"
                         onclick="confirm('确定删除吗？')">
                    <i class="delete icon"></i> 删除
                    </div>
            </div>
        </div>

    {% endif %}

</div>

    {% endif %}
