
        <div class= "user_num" onclick="javascript:window.location.href='{{ url_for('.friend',othername=follow.user.username ) }}'">
    
<div class="msg-box">
    <div class="picture">
        <a href ="{{url_for('main.user' ,username=follow.user.username )}}">
            <img class="pop-card" data-position="right center" data-offset="-40"
             data-href="{{ url_for('chat.get_profile', user_id=follow.user.id) }}"
             src="{{ follow.user.gravatar() }}">
            </a>
    </div>
    <div class="msg2">
        <span class="nickname">{{ follow.user.username }}</span>
    </div>
</div>

</div>

