
{% extends "bootstrap/base.html" %}

{% block title %}同趣{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript">

    var bodyBgs = []; //创建一个数组变量来存储背景图片的路径
    bodyBgs[0] = "../static/image/1.png";
    bodyBgs[1] = "../static/image/7.png";
    bodyBgs[2] = "../static/image/9.png";
    bodyBgs[3] = "../static/image/11.png";
    bodyBgs[4] = "../static/image/5.png";
    bodyBgs[5] = "../static/image/14.png";
    bodyBgs[6] = "../static/image/15.png";
    bodyBgs[7] = "../static/image/16.png";
    bodyBgs[8] = "../static/image/17.png";



    var randomBgIndex = Math.round( Math.random() * 8   );
    if(document.location =='http://127.0.0.1:5000/auth/login?next=%2F')

{    document.write('<style>body{background:url(" ../static/image/11.png") !important;}</style>');}
    else
    { document.write('<style>body{background:url(' +bodyBgs[randomBgIndex]+ ') !important;}</style>');}
</script>
<style type="text/css">
#sortform {
        width:150px;
                text-align:center
                                                

}
body{
    border:0px;
}
 html, body {width:100%;height:100%;} /*非常重要的样式让背景图片100%适应整个屏幕*/
         .bg {display: table;width: 100%;height: 100%;padding: 100px 0;text-align: center;color: #fff;background: url(http://www.xiandanke.cn/Image/intro-bg.jpg) no-repeat bottom center;background-color: #000;background-size: cover;}
                 .navbar {padding:10px 0;transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;background-color:#ABABAB}
                         .navbar a{background:transparent !important;color:black !important}
                                 .navbar a:hover {color:#45bcf9 !important;background:transparent;outline:0}
                                         .navbar a {transition: color 0.5s ease-in-out;}/*-webkit-transition ;-moz-transition*/
                                                 .top-nav {padding:0;background:#000;}
                                                         button.navbar-toggle {background-color:#fbfbfb;}/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/
                                                                 button.navbar-toggle > span.icon-bar {background-color:#dedede}

    </style>

{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="top-nav">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">同趣</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">主页</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">个人信息</a></li>
                {% endif %}
		{% if current_user.is_authenticated %}
		<li><a href="{{ url_for('chat.room') }}">聊天室</a></li>
        {% endif %}
	{% if current_user.is_authenticated %}
		<li><a href="{{ url_for('chat.friends') }}">好友</a></li>
        {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
		{% if current_user.is_authenticated %}
		{% if current_user.can(Permission.MODERATE)%}
		<li><a href="{{url_for('main.moderate')}}">评论管理</a></li>
		{% endif %}
		{% endif %}
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        账户<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">更改密码</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">更改绑定邮箱</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment()}}
{{ moment.lang('zh_CN') }}
   <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='semantic-ui/semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script type="text/javascript">
var csrf_token="{{ token  }}";
var messages_url = "{{ url_for('chat.get_messages') }}";
var current_user_id = {{ current_user.id }};
var socket = io("http://127.0.0.1:5000/chat")
</script>

{% endblock %}
